@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


.wrap {
  width: 400px;
  padding: 25px 15px;
}

body {
  font-size: 14px/16px;
}

label {
  font-size: 14px
}

input:focus,
button:focus {
  outline: 0 !important;
  box-shadow: unset !important;
}

.render-box{
  max-height: 300px;
  overflow-y: auto;
}